@model  IEnumerable <PhotoSharingApp.Model.Photo>
@foreach (var item in Model)
{
    <h3>"@item.Title"</h3>

    if (item.PhotoFile != null)
    {
        <img width="200"
             src="@Url.Action("GetImage",
 "Photo",
 new { id = item.PhotoID })" />
    }
    <p>
        Created By:
        @Html.DisplayFor(
 model => item.Owner)
    </p>


    <p>
        Created On:
        @Html.DisplayFor(
 model => item.CreatedDate)
    </p>
} 